---
layout: index-layout
---

<div class="wrapper container">
<div class="vertical-space">
  <p class="lead">
    Why is the sky blue? Is e4 actually the best chess opening? Where do babies come from? Is the Oxford comma everything it's cracked up to be?
  </br></br>
    I am KC Erb and I know the answers to all of these questions (except the last one). I'm putting up this website for the same reason that indie band from across the street keeps stapling their poster to the light post in front of your house: because I can.
  </p>
</div>

  <div class="row vertical-space">
    <div class="col-md-4">
      {% include feature.html title="The Fam" body="My family is the true source of my powers. I'd like to take a semi-serious tone for a moment and tell you about them." link="/family"  icon="home"%}
    </div>
    <div class="col-md-4">
      {% include feature.html title="The Physics" body="What can you get with a bachelor's degree in physics? Most things. But the most common choice is a PhD in physics." link="/physics" icon="graduation-cap"%}
    </div>
    <div class="col-md-4">
      {% include feature.html title="The Code" body="First, my physics experience taught me to hate programming, then I learned to depend on it like air and clean socks." link="/projects" icon="code"%}
    </div>
  </div>



  <hr class='blue'>

  <div class="row center vertical-space">
      <h2>Philosophy</h2>

    I once had a fellow physics graduate student ask me: who's your favorite philosopher? I was somewhat taken aback. My favorite what? His idea was that since I'm getting a PhD, a Doctorate of Philosophy, I should know something about the field and would presumably have some opinions on the topic such as which philosopher I liked best.

    <a href="/philosophy">
      Read more . . .
    </a>
  </div>

</div>
