<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content full-width-banner">
      <div class="container">
        <div class="row vertical-align ">
          <div class="col-md-2 col-md-offset-1">
            <img src="images/me.png" alt="shuai-ge" class="img-circle" style="width: 140px;">
          </div>
          <div class="col-md-9 large-text-block">
            Loves ice-cream, physics, and programming
            <hr class='blue'>
          </div>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>


    {% include footer.html %}

  </body>

</html>
